.vue-scrollbar-transition, .vue-scrollbar__scrollbar-vertical, .vue-scrollbar__scrollbar-horizontal {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.vue-scrollbar-transition--scrollbar {
  transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
}

.vue-scrollbar__wrapper {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: transparent;
}
/* fundo da barra */
.vue-scrollbar__wrapper:hover .vue-scrollbar__scrollbar-vertical,
.vue-scrollbar__wrapper:hover .vue-scrollbar__scrollbar-horizontal{
  opacity: 1;
  background:#f26522;
}
/* barra rolagem */
.vue-scrollbar__scrollbar-vertical, 
.vue-scrollbar__scrollbar-horizontal {
  opacity: 0.5;
  position: absolute;
  background: transparent;
}
.vue-scrollbar__scrollbar-vertical:hover,
.vue-scrollbar__scrollbar-horizontal:hover {
  background:#f26522;
}
.vue-scrollbar__scrollbar-vertical .scrollbar, .vue-scrollbar__scrollbar-horizontal .scrollbar {
  position: relative;
  border-radius: 30px;
  background: #2e3192;
  cursor: default;
}
.vue-scrollbar__scrollbar-vertical {
  width: 10px;
  height: 100%;
  border-radius: 30px;
  background-color:#f26522;
  top: 0;
  right: 0;
  
}
.vue-scrollbar__scrollbar-vertical .scrollbar {
  width: 10px;
}
.vue-scrollbar__scrollbar-horizontal {
  height: auto;
  width: auto;
  bottom: 0;
  right: 0;
}
.vue-scrollbar__scrollbar-horizontal .scrollbar {
  height: 10px;
}
